# Secrets & Credentials
oauth_config.json
.env

# Databases & Uploads
*.db
uploads/*
!uploads/.gitkeep
!uploads/avatar_hieu.jpg
!uploads/1791426112912__nh_t_i.jpg

# Cloudflare & Temp
cloudflared.exe
*.log
tunnel_url.txt
public_url.txt

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store
Thumbs.db
